<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Banana Bacana</display-name>

	<servlet>
		<servlet-name>cadastrar</servlet-name>
		<servlet-class>banana.controller.cadastrarProdutoController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>modificar</servlet-name>
		<servlet-class>banana.controller.modificarProdutoController
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>buscar</servlet-name>
		<servlet-class>banana.controller.buscarProdutosController
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cadastrar</servlet-name>
		<url-pattern>/cadastrarProduto</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>modificar</servlet-name>
		<url-pattern>/modificarProduto</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>buscar</servlet-name>
		<url-pattern>/buscarProdutos</url-pattern>
	</servlet-mapping>
</web-app>